<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Beard Flamenco</title>

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">

        <!-- VENDOR SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- APPLICATION SCRIPTS -->
        <script src="js/app.js"></script>
    </head>

    <body>
    
    <h1> IT'S ALIVE </h1>
    <!-- <img src="http://img.pandawhale.com/post-60088-its-alive-my-creation-is-alive-g2Ee.gif"> -->
    <div id="hairStyle">
    </div>

    <!-- BEGIN HAIR ENTRY FORM -->
    <section id='hairstyle-form' class="container">
        <label>
            <input type="text" id= "username" name ="name"> Name </input>
            <input type="text" id= "usergrowthtime" name ="growthTime"> Growth Time </input>
            <input type="text" id= "userdescription" name ="description"> Des </input>
        </label>
    </section>

    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" id= "addEntry">Add Entry</button>
    </div>

    </body>
</html>