<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Beard App</title>

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styles.css">

        <!-- VENDOR SCRIPTS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- APPLICATION SCRIPTS -->
        <script src="js/app.js"></script>
    </head>

    <body>
        <h1> Beard App </h1>     
<!--         <div id="breon">
            
        </div> -->


        <div id="hairStyle"></div>

        <!-- BEGIN HAIR ENTRY FORM -->
        <section class="container">

            <form class="form-group" id="hairstyle-form">
                <label>
                    Name: <input type="text" id= "username" name ="name"> <br>
                    Growth Time: <input type="text" id= "usergrowthtime" name ="growthTime"> <br>
                    Description: <input type="text" id= "userdescription" name ="description"> <br>

                    <!-- Keep in mind that name is what gets put in the html
                    and that's how the key and values are set
                    Only KEYS should be within name -->
                </label>

                <div class="form-group">
                    <button id="singlebutton" class="btn btn-primary">Submit Hairstyle</button>
                </div>
            </form>
        </section>

    </body>
</html>